.settings/
.project
.classpath
*.launch

##
./schemacrawler-lib/
./schemacrawler-icons/
./schemacrawler-installer/
**/SchemaCrawler-*.msi*
out/
trace.log
/schemacrawler-*-bin.zip
/schemacrawler-*-distribution.zip
SchemaCrawler-*.msi
schemacrawler-*.deb
schemacrawler-*-bin.zip
